@charset "UTF-8";

/* =========================== Colors Section =========================== */

:root,
[data-theme=light] {
    --color-white: rgb(255, 255, 255);
    --color-transparent: rgba(0, 0, 0, 0);

    --color-primary: rgb(66, 133, 244);
    --color-primary-hover: rgba(66, 133, 244, 0.8);
    --bg-primary: rgba(66, 133, 244, 0.15);

    --color-success: rgb(52, 168, 83);
    --color-success-hover: rgb(52, 168, 83, 0.8);
    --bg-success: rgba(52, 168, 83, 0.15);

    --color-alert: rgb(234, 67, 53);
    --color-alert-hover: rgba(234, 67, 53, 0.8);
    --bg-alert: rgba(234, 67, 53, 0.15);

    --color-idle: rgb(251, 188, 5);
    --color-idle-hover: rgba(251, 188, 5, 0.8);
    --bg-idle: rgba(251, 188, 5, 0.15);

    --color-foreground: rgb(255, 255, 255);
    --color-foreground-extra: rgb(31, 31, 31, 0.08);

    --color-background: rgb(248, 250, 253);
    --color-text: rgb(33, 33, 33);
    --color-text-supporting: rgb(117, 117, 117);
    --color-text-shy: rgba(0, 0, 0, 0.54);
    --color-text-primary: rgb(66, 133, 244);
    --color-mist: rgba(0, 0, 0, 0.06);
    --color-mist-extra: rgba(0, 0, 0, 0.13);
    --color-overlay: rgba(255, 255, 255, 0.8);
    --color-contrast: rgb(0, 0, 0);

    --color-red: rgb(255, 60, 56);
    --color-orange: rgb(251, 133, 0);
    --color-yellow: rgb(255, 213, 0);
    --color-light-green: rgb(139, 195, 74);
    --color-green: rgb(76, 175, 80);
    --color-dark-green: rgb(56, 142, 60);
    --color-teal: rgb(0, 150, 136);
    --color-cyan: rgb(123, 223, 242);
    --color-light-blue: rgb(194, 231, 255);
    --color-blue: rgb(66, 133, 244);
    --color-purple: rgb(156, 39, 176);
    --color-magenta: rgb(233, 30, 99);
    --color-pink: rgb(255, 64, 129);
}

[data-theme=dark] {
    --color-white: rgb(255, 255, 255);
    --color-transparent: rgba(0, 0, 0, 0);

    --color-primary: rgb(31, 111, 235);
    --color-primary-hover: rgba(31, 111, 235, 0.8);
    --bg-primary: rgba(31, 111, 235, 0.15);

    --color-success: rgb(64, 201, 87);
    --color-success-hover: rgb(64, 201, 87, 0.8);
    --bg-success: rgba(64, 201, 87, 0.15);

    --color-alert: rgb(235, 86, 86);
    --color-alert-hover: rgba(235, 86, 86, 0.8);
    --bg-alert: rgba(235, 86, 86, 0.15);

    --color-idle: rgb(219, 129, 26);
    --color-idle-hover: rgba(219, 129, 26, 0.8);
    --bg-idle: rgba(219, 129, 26, 0.15);

    --color-foreground: rgb(31, 31, 31);
    --color-foreground-extra: rgb(51, 51, 51);

    --color-background: rgb(20, 20, 20);
    --color-text: rgb(227, 230, 232);
    --color-text-supporting: rgb(156, 156, 156);
    --color-text-shy: rgba(255, 255, 255, 0.28);
    --color-text-primary: rgb(68, 147, 248);
    --color-mist: rgba(255, 255, 255, 0.06);
    --color-mist-extra: rgba(255, 255, 255, 0.13);
    --color-overlay: rgba(3, 3, 3, 0.8);
    --color-contrast: rgb(255, 255, 255);

    --color-red: rgb(215, 38, 61);
    --color-orange: rgb(239, 152, 0);
    --color-yellow: rgb(255, 213, 0);
    --color-light-green: rgb(4, 231, 98);
    --color-green: rgb(64, 201, 64);
    --color-dark-green: rgb(31, 136, 61);
    --color-teal: rgb(0, 155, 119);
    --color-cyan: rgb(123, 223, 242);
    --color-light-blue: rgb(194, 231, 255);
    --color-blue: rgb(31, 111, 235);
    --color-purple: rgb(113, 97, 239);
    --color-magenta: rgb(217, 3, 104);
    --color-pink: rgb(255, 71, 126);
}

/* =========================== General Styles Section =========================== */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}


body {
    font-family: sans-serif;
    font-size: 16px;
    color: var(--color-text);
    background-color: var(--color-background);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: var(--color-text-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary-hover);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

/* =========================== Header Section =========================== */

header {
    height: 60px;
    background-color: var(--color-foreground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    margin-bottom: 1px;
}

header h1 {
    font-size: 26px;
}

header button {
    font-size: 26px;
    color: var(--color-text);
    background-color: transparent;
    cursor: pointer;

    & :hover {
        color: var(--color-text-supporting);
    }
}

/* =========================== Main Section =========================== */

main {
    display: flex;
    width: 100%;
    height: calc(100vh - 110px);
}

main aside {
    width: 26%;
    background-color: var(--color-foreground);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

main section {
    width: 74%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

/* =========================== Card Container Section =========================== */

.card-container {
    width: 100%;
    height: 100%;
    background-color: var(--color-foreground);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 10px 20px;
}

/* =========================== URL Form Section =========================== */

.url-form {
    display: flex;
    gap: 0;
    width: 100%;
    
}

.url-form select {
    color: var(--color-text);
    background-color: transparent;
    border: 1px solid var(--color-text-supporting);
    border-radius: 8px 0 0 8px;
    padding: 16px;
    transition: 0.3s;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;

    &:focus {
        border: 1px solid var(--color-text-primary);
    }
}

.url-form select option {
    color: var(--color-text);
    background-color: var(--color-foreground);
    border: 1px solid var(--color-text-supporting);
    border-radius: 8px 0 0 8px;
    padding: 16px;
    transition: 0.3s;

    &:focus {
        border: 2px solid var(--color-text-primary);
    }
}

.url-form input[type="url"] {
    color: var(--color-text);
    background-color: var(--color-transparent);
    border: 1px solid var(--color-text-supporting);
    border-radius: 0 8px 8px 0;
    padding: 16px;
    flex: 1;

    &:focus {
        border: 1px solid var(--color-text-primary);
    }
}

.url-form button {
    font-weight: bolder;
    color: var(--color-background);
    background-color: var(--color-primary);
    border-radius: 8px;
    padding: 16px 30px;
    cursor: pointer;
    margin: 0 0 0 8px;
    transition: 0.3s;

    &:hover {
        background-color: var(--color-primary-hover);
    }
}

/* =========================== Footer Section =========================== */

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-foreground);
    height: 50px;
    padding: 4px 20px;
    box-shadow: 0 0 10px #0000001a;
    width: 100%;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-logo img {
    height: 30px;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: var(--color-text);

    &:hover {
        color: var(--color-primary-hover);
        transition: all 0.4s;
    }
}

/* =========================== Responsiv Section =========================== */

@media (min-width: 1200px) {
    main aside {
        width: 16%;
    }

    main section {
        width: 84%;
    }
}