* {
    margin: 0;
    padding: 0;
}

.priceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #aaa;
}

.price {
    font-size: 40px;

}